.f-higkeiten {
  height: 100%;
  gap: 40px;
  background-color: var(--black_900);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.header-3 {
  margin-top: 50px;
  padding-left: 6px;
  padding-right: 6px;
  gap: var(--space-xs);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.skills-section {
  margin-left: auto;
  margin-right: auto;
  gap: var(--space-md);
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  max-width: 1056px;
  width: 100%;
  @media only screen and (max-width: 1050px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.skills-section__title {
  font-size: 100px;
  font-weight: 400;
  @media only screen and (max-width: 1050px) {
    font-size: 48px;
  }
}

.skills-section__list {
  gap: var(--space-lg);
  display: flex;
  align-self: stretch;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.skills-section__item {
  margin-bottom: 44px;
  gap: var(--space-md);
  display: flex;
  width: 278px;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    margin-bottom: 0px;
  }
}

.skills-section__image {
  height: 228px;
  width: 228px;
}

.skills-section__text {
  text-align: center;
  align-self: stretch;
  line-height: 38px;
}

.skills-section__item-1 {
  margin-top: 18px;
  margin-bottom: 22px;
  gap: 88px;
  display: flex;
  width: 290px;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    gap: 66px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  @media only screen and (max-width: 550px) {
    gap: 44px;
  }
}

.skills-section__stack {
  height: 190px;
  margin-left: 64px;
  margin-right: 50px;
  position: relative;
  @media only screen and (max-width: 1050px) {
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.skills-section__icon {
  height: 20px;
  margin-top: 76px;
  margin-right: 70px;
  width: 20px;
  @media only screen and (max-width: 1050px) {
    margin-right: 0px;
  }
}

.skills-section__decorative-icon {
  height: 190px;
  flex: 1;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  margin: auto;
}

.columnuntitled {
  gap: 92px;
  display: flex;
  width: 264px;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    gap: 69px;
  }

  @media only screen and (max-width: 550px) {
    gap: 46px;
  }
}

.untitled_one {
  height: 228px;
  width: 228px;
  object-fit: cover;
}
